# environment vars
.env

# temp files, OS junk and dotfiles
*.bak
*.swp
*.tmp
*~
.cvs
.DS_Store
.listing
.svn
Thumbs.db


# npm and composer dependencies
node_modules/
vendor/


# wp core (as of 4.6)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-content/index.php
/wp-content/themes/index.php
/wp-content/themes/twenty*
/wp-cron.php
/wp-feed.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# wordpress config, user-content and caches
cache/
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir
wp-content/cache/
wp-content/cache/supercache/
wp-content/managewp/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# Let's try ignoring sourcemaps
*.css.map
*.js.map

# Ignore all plugins
wp-content/plugins
wp-content/mu-plugins

# I have not yet wanted these files in project history
*.code-workspace
